*.class
*.log
*.cache

.DS_store

/backend/target
/target/
/backend/project/target/
/backend/common/target/
/backend/database/target/
/backend/http/target/

.idea

.vscode
.bloop
.bsp
.metals
metals.sbt
